@font-face {
	font-family: 'againts.oft';
	src: url('../styles/fonts/againts.otf');
}

$headText: 'againts.oft', sans-serif;
$green: #34CC83;
$darkgreen: #0f5231;
$lightgreen: #e5fff4;
$butgreen: #20d98d;
$butshadow: #179a4a;
$text: #333;